<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<title>My First Angular directive</title>
	</head>
	<body>
		<xx-header></xx-header>
		<xx-body></xx-body>
		<xx-footer></xx-footer>
		<script type="text/ng-template" id="tmpl/header.html">
<h1>Header</h1>
<hr/>
		</script>
		<script type="text/ng-template" id="tmpl/body.html">
<ng-view></ng-view>
		</script>
		<script type="text/ng-template" id="tmpl/cover.html">
<h1>Liste de pays</h1>
<input placeholder="Filtre" ng-model="myFilter"/><br/>
<ul>
	<li ng-repeat="country in countries | filter: myFilter | orderBy track by $index"><a ng-href="#/country/{{country}}">{{country}}</a></li>
</ul>

<angucomplete-alt id="ex1"
              placeholder="Search countries"
              pause="100"
              selected-object="selectedCountry"
              local-data="countries2"
              search-fields="name"
              title-field="title"
              minlength="1"
              input-class="form-control form-control-small"/>
		</script>
		<script type="text/ng-template" id="tmpl/country.html">
<h1>Country Details: {{country}}</h1>
Carte: ...<br/>
Lien Wikipedia: ...<br/>
		</script>
		<script type="text/ng-template" id="tmpl/footer.html">
<hr/>
<h1>Footer</h1>
		</script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
		<script src="app.js"></script>
	</body>
</html>
